{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
<div class="container">
<ul>
{% for task in tasks %}
<li>{{task}}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
