{% extends 'base.html.twig' %}

{% block title %}Panel de Gestion{% endblock %}

{% block body %}

<div class="container mx-center col-7 my-5">
<div class="row my-5">
    <div class="col-3 my-1">
         <a class="nav-link active" href="/admin/users">
            <button type="button" class="btn btn-info btn-lg">Gestion des utilisateurs</button>
        </a>
    </div>
    <div class="col-3 my-1">
        <a class="nav-link active" href="/admin/tasks">
            <button type="button" class="btn btn-secondary  btn-lg">Gestion des tasks</button>
        </a>
    </div>
</div>
<div class="row my-5">
    <div class="col-3 my-1">
        <a class="nav-link active" href="#">
            <button type="button" class="btn btn-primary btn-lg">A définir</button>
        </a>
    </div>
      <div class="col-3 my-1">
         <a class="nav-link active" href="#">
            <button type="button" class="btn btn-warning btn-lg">A définir</button>
        </a>
        </div>
    </div>
</div>
{% endblock %}
